{
  "trailingComma": "es5",
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "bracketSpacing": false,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "arrowParens": "avoid",
  "printWidth": 100,
  "endOfLine": "auto"
}
